*.egg
*.egg-info
*.mo
*.py[cod]
*.so
*.un~
*~
.*.s[a-w][a-z]
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
.coverage
.installed.cfg
.mr.developer.cfg
.netrwhist
.project
.pydevproject
.tox
Icon
Session.vim
__pycache__
bin
build
develop-eggs
dist
eggs
lib
lib64
nosetests.xml
parts
pip-log.txt
sdist
var
pkg/
tmp/
